<mat-toolbar class='list-header'>Proszę, wybierz zespół z listy lub skorzystaj z dostępnych filtrów.</mat-toolbar>


<div *ngFor='let band of bands'>
    <mat-toolbar class="list-item">
        <mat-icon class="avatar">headphones</mat-icon>

        <span class='name'>
            <span>
                <mat-icon>title</mat-icon>{{band.name | uppercase}}
            </span>

            <button routerLink='/detailsBand/{{band.id}}'>
                <mat-icon>info</mat-icon>
            </button>
        </span>

        <span class="members">
            <mat-icon>supervised_user_circle</mat-icon>{{band.members.length}}
        </span>
        <span class="company"><mat-icon>account_balance</mat-icon>{{band.company}}</span>
        <mat-icon
            [class.favourite]='(band.name==favourites.favouriteBand) || (band.genre.includes(favourites.favouriteGenre))'>
            star_rate
        </mat-icon>

    </mat-toolbar>

</div>