<mat-toolbar class='list-header'>Strona umożliwiająca kontakt z właścicielami.</mat-toolbar>

<div class="container">
    <div class="item">
        <img class="image" src="../../../assets/images/callCenter2.jpg" alt="Nie znaleziono zdjęcia, przepraszamy.">
    </div>
    <div class="item">
        <p>Kontakt możliwy jest pod adresami:</p>
        <p><mat-icon>message</mat-icon>   E-mail: dam@merchel.com</p>
        <p><mat-icon>phone</mat-icon>   Telefon: 400 400 400</p>
        <p><mat-icon>email</mat-icon>   Poczta: 10-888 Olsztyn, Traugutta 24/5</p>
    </div>   
</div>

