.container{    
    margin-top: 5em;
    
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}
.image{
    width: 20em;
    
}
.list-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #85144b;
    color: white;
    padding: 0em 1em;
    height: 3em;
    margin-top: 0;   

}
.item{
    width: 40%;
    height: fit-content;
    
}