<mat-toolbar class='list-header'>Strona domowa, zawierajacy krótki opis aplikacji.</mat-toolbar>

<div class="container">
    <div class="item">
        <img class="image" src="../../../assets/images/band.jpg" alt="Nie znaleziono zdjęcia, przepraszamy.">
    </div>
    <div class="item">
        <p>Strona umożliwia przejrzenie zespołów, zapoznanie sie z informacjami na ich temat. Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit magni at id blanditiis sapiente ex. Id fugit recusandae veritatis sint doloremque odit totam tempora quis similique. Natus placeat porro quia. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis aperiam quas harum cumque quos accusamus consequuntur, ad aut saepe quod illum nobis libero. Dolor eius totam rem vitae debitis molestiae.</p>
    </div>   
</div>
<div class="container">    
    <div class="item">
        <p>Strona zaprasza cię do wybrania ulubionego zespołu oraz gatunku. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam, doloremque eum adipisci accusantium veniam error cum? Minus nemo mollitia, magni beatae assumenda saepe, eius, dolores quasi atque accusamus quos accusantium! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni ullam animi culpa dignissimos nisi suscipit exercitationem consequatur voluptatum placeat natus nesciunt minima quidem ducimus at voluptas, ad vitae quaerat? Quibusdam.</p>
    </div>
    <div class="item">
        <img class="image" src="../../../assets/images/band2.jpg" alt="Nie znaleziono zdjęcia, przepraszamy.">
    </div>   
</div>